<li class="time-label">
   <span class="bg-timeset"><%= post.created_at.strftime("%d-%m-%Y")%></span>
   <span class="time"><i class="fa fa-clock-o"></i>&nbsp;<%= post.created_at.strftime("%H:%M")%></span>
</li>

<li>
  <i class="<%= post.type.class_icon%> <%= post.type.bg_class%>"></i>
  <div class="timeline-item">
    <h3 class="timeline-header"><b>Posted in :</b> <%= link_to post.type.name, post.type%> by <%= post.user.name%></h3>
    <div class="index-box-body">
      <%= sanitize(post.content) %>
    <br>
    </div>
    <div class='timeline-footer'> 
      <a class="btn btn-default btn-xs" style ="cursor: default;"> Last edited : <%= post.updated_at.strftime("%b %e, %Y at %l:%M %p")%></a>                            
      <a class="btn btn-default btn-xs" style ="cursor: default;"><%= post.page_view%> Views</a> 
      <%=link_to post.comment_threads.count.to_s + " Comments", post_path(post, :anchor => 'comments-list'),:class=>"btn btn-default btn-xs"%>
      <%=link_to "Read more", post,:class=>"btn btn-danger btn-xs"%><br>
      <a class="btn btn-default btn-xs" style ="cursor: default;"><i class="glyphicon glyphicon-tags"></i><i class="glyphicon glyphicon-chevron-right"></i>
        <%post.tag_list.each do |tag|%>
          <%=link_to tag, tag_path(tag)%>, 
      <%end%>
      </a>
    </div>
  </div>
</li>
<br>
<br>

