<div class="col-md-12" >
<%= form_for(@post) do |f|%>
    <% if @post.errors.any? %>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  <%= f.label "Type"%>
  <% types_array = Type.all.map { |type| [type.name, type.id] } %>
  <%= f.select(:type_id,types_array,{},{class: "form-control"}) %>
  <%= f.label :tag_list, "Tags" %>
  <%= f.text_field :tag_list, class: "form-control" %>
  <%= f.label "Content"%>
  <br>
  <%= f.bootsy_area :content, rows:'15', class: "form-control"%>
  <br>
  <%= f.submit "Create post",class:"btn btn-default"%>
  <br>
<%end%>
</div>