<div class="col-md-12">
  <div class="timeline-body one-post">

                <!-- the actual blog post: title/author/date/content -->
                <h1>WORK LOG</h1>
                <p class="lead">by: <%= @post.user.name%>
                </p>
                <hr>
                <p>
                    <span class="glyphicon glyphicon-time"></span> Posted on <%= @post.created_at.strftime("%b %e, %Y at %l:%M %p")%></p>
                <div class="showbody">
                <p><%=sanitize(@post.content)%></p>
                <ul class="tags">
                  <%@post.tag_list.each do |tag|%>
                    <li><%=link_to tag, tag_path(tag)%></li>
                  <%end%>
                </ul>
                </div>
<%if (current_user.id == @post.user_id)%>
              <%= link_to "Edit", edit_post_path(@post), class:"btn btn-default"%>
<%end%>   
    <div id="comments-list">
        <% @comments.each do |comment|%>
            <%= sync partial: 'comment', resource: comment%>                              
        <%end%>
        <%= sync_new partial: 'comment', resource: Comment.new%>
    </div>
    <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
    </div>
</div>
<script>
  data = <%= raw User.pluck(:name).compact %>; 
  $('textarea#cecix').atwho({at:"@", 'data':data});
</script>


